<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/home/laszlo-kiss-MdgBAkbZ9t4-unsplash.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1><b>QLoans</b></h1>
            <h3>A better borrowing experience.</h3>
            <br>
            <a href="#contact" class="btn btn-info btn-round btn-lg"><i class="fa fa-phone-square"></i>Contact us today!</a>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <h2 class="title">What We Do</h2>
                <h5>We are a mortgage broker and commercial finance advisor offering choice, market intelligence and speed of execution.</h5>
                <br>
            </div>
            <div class="col-md-4 mr-auto ml-auto">
                <a href="#about" class="btn btn-info btn-round"><i class="fa fa-info-circle"></i>Learn More</a>
            </div>
        </div>
    </div>
</div>

<div class="section section-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Why Choose Us?</h2>
                <h5 class="description">We are experienced finance industry professionals with access to multiple sources of funding for all consumers and business owners.</h5>
                <br>
                <h5 class="description">We thrive on the challenge of saving you money and finding a way when your bank says 'No'.</h5>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-8 mr-auto ml-auto">
                <a href="#services" class="btn btn-info btn-round"><i class="fa fa-briefcase"></i>Learn more</a>
            </div>
        </div>
    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Meet our team</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/home/david-headshot.png" alt="David"></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">David Querzoli</h4>
                                <h6 class="card-category">Owner</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Mortgage Broker <br>
                        </p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/home/brad-headshot.png" alt="Brad"></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Bradley Querzoli</h4>
                                <h6 class="card-category">Future Owner</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Financial Planner <br>
                        Mortgage Broker in training <br>
                        Son of David<br>
                        </p>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>

<div>
    <div class="section section-gray text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Get in touch</h2>
                    <h5 class="description">Contact us via phone, web form, or see our office locations.</h5>
                    <br>
                    <a href="#contact" class="btn btn-info btn-round"><i class="fa fa-phone-square"></i>Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
