<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/services/background-services.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Services</h1>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Home Loans</h2>
                    <p class="description"><b>Are you paying too much?</b> Refinance your current loan at lower interest rate and fees.</p>
                    <p class="description"><b>Self employed and un-loved by your bank?</b> We will find a way when others have failed you.</p>
                    <p class="description"><b>Purchasing and need to move quickly?</b> Your urgency is our priority.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-gray text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Business Loans (with no property security!)</h2>
                    <p class="description"><b>Is your home securing your business loans?</b> Refinance and protect your personal assets.</p>
                    <p class="description"><b>Purchasing a business or buying out a fellow shareholder?</b> Arrange a business loan using business assets to secure the loan.</p>
                    <p class="description"><b>Short term finance need for the business?</b> Specialist advice to access funding for working capital and sales growth.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Car Loans</h2>
                    <p class="description"><b>ABN registered for more than 12 months?</b> 24–48 hour loan pre-approval and no tax returns required.</p>
                    <p class="description"><b>ABN not registered for GST yet?</b> No tax returns required for qualifying customers.</p>
                    <p class="description"><b>Operating a fleet of vehicles?</b>  Access multiple banks and finance companies as we run a 'debt tender' to drive competitive tension and achieve lowest cost for you.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-gray text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Equipment Loans</h2>
                    <p class="description"><b>ABN registered for more than two years?</b> 24-hour pre-approval and no tax returns required for purchases for up to $35,000.</p>
                    <p class="description"><b>Purchasing specialist equipment?</b> Finance available with or without deposit.</p>
                    <p class="description"><b>Importing equipment with progress payments?</b> Specialist import finance on delivery and installation. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="section section text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Commercial Loans</h2>
                    <p class="description"><b>Are you paying too much?</b> Refinance your current loan at lower interest rate and fees.</p>
                    <p class="description"><b>Purchasing and need to move quickly?</b> Your urgency is our priority.</p>
                    <p class="description"><b>Self managed super fund purchase?</b> Specialist accreditation to arrange SMSF loans.</p>
                </div>
            </div>
        </div>
    </div>

    <div>
    <div class="section section-gray text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Get in touch</h2>
                    <h5 class="description">Contact us via phone, email or web form.</h5>
                    <br>
                    <a href="#contact" class="btn btn-info btn-round"><i class="fa fa-phone-square"></i>Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
    
</div>

